<div class="faq-wrapper">
    {{#show_title}}
        <h2>{{faq_title}}</h2>
    {{/show_title}}

    {{#faq_items}}
        <div class="mb-3">
            <h3 class="h5">{{question}}</h3>
            <div>{{{answer}}}</div>
        </div>
    {{/faq_items}}
</div>