<div class="faq-wrapper">
    {{#show_title}}
        <h2>{{faq_title}}</h2>
    {{/show_title}}

    <div id="faq-carousel" class="carousel pb-6 slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {{#faq_items}}
                <li data-target="#faq-carousel" data-slide-to="{{itemnumber}}" class="{{^itemnumber}}active{{/itemnumber}}"></li>
            {{/faq_items}}
        </ol>

        <div class="carousel-inner">
          {{#faq_items}}
              <div class="carousel-item {{^itemnumber}}active{{/itemnumber}}">
                  <div class="card dashboard-card">
                      <h5 class="card-title">{{{question}}}</h5>
                      <div class="card-body">{{{answer}}}</div>
                  </div>
              </div>
          {{/faq_items}}
        </div>
    </div>
</div>