<div>
    {{#show_title}}
        <h2>{{faq_title}}</h2>
    {{/show_title}}

    <div>
        {{#faq_items}}
            <h3>{{question}}</h3>
            <div>{{{answer}}}</div>
        {{/faq_items}}
    </div>
</div>