<div class="faq-wrapper">
    {{#show_title}}
        <h2>{{faq_title}}</h2>
    {{/show_title}}

    <div class="accordion" id="faq-accordion">
        {{#faq_items}}
            <div class="accordion-item bg-light border-radius mb-3">
                <h3 class="accordion-header mb-0 fs" id="faq-heading-{{{id}}}">
                    <button class="accordion-button w-100 d-flex align-items-center p-3 pr-6 text-left font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#faq-content-{{{id}}}" aria-expanded="false" aria-controls="faq-content-{{{id}}}">
                        {{{question}}}
                        {{#pix}} t/expandedchevron, core {{/pix}}
                    </button>
                </h3>

                <div id="faq-content-{{{id}}}" class="accordion-collapse border-top collapse" aria-labelledby="faq-heading-{{{id}}}" data-parent="#faq-accordion">
                    <div class="accordion-body p-3">
                        {{{answer}}}
                    </div>
                </div>
            </div>
        {{/faq_items}}
    </div>
</div>